.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}
h1 {
  font-size: 100px;
  font-weight: 800;
  font-family: "Mochiy Pop P One", sans-serif;
}
.first-inner {
  display: flex;
  justify-content: center;
}
.fa-user-astronaut {
  margin: 95px 10px 0px 0px;
}
#login {
  margin: 65px 0px 50px;
}
#login input {
  padding: 30px 5px 5px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  color: white;
  border-bottom: 2px solid white;
}
#login input:focus {
  cursor: pointer;
  border-color: rgb(63, 63, 63);
}
#login input::placeholder {
  color: rgba(255, 255, 255, 0.555);
  font-family: "Mochiy Pop P One", sans-serif;
}
